/* FULLCALENDAR CSS */
.fc-daygrid-event-dot {
    border: 4px solid #1de5bd;
}

.fc-daygrid-event-dot {
    color: #FFF;
}

.fc-event-time {
    color: #FFF;
    font-size: 8pt;
}

.fc-event-title {
    color: #FFF;
    font-size: 8pt;
}

a.fc-event:hover {
    /* text-decoration: underline; */
    background-color: #159178;
    border-color: #159178;
}

.fc-day:hover {
    cursor: pointer;
}

.fc-popover-header {
    position: sticky;
}

.fc-popover-body {
    overflow: auto;
    max-height: 200px;
}

div.popover > div.popover-body > div.fc-daygrid-event-harness > a.fc-event{
    margin-top: 4px;
    white-space: normal;
    align-items: normal;
    margin-left: 0;
}

.fc-popover {
    left    : 35%;
    top     : 200px;
}

.fc-daygrid-day-top {
    display: flex;
    justify-content: flex-end;
}