.fc-daygrid-event-dot {
    border: 4px solid #1de5bd;
}

.fc-daygrid-event-dot {
    color: #FFF;
}

.fc-event-time {
    color: #FFF;
    font-size: 8pt;
}

.fc-event-title {
    color: #FFF;
    font-size: 8pt;
}

a.fc-event:hover {
    /* text-decoration: underline; */
    background-color: #159178;
    border-color: #159178;
}

.fc-day:hover {
    cursor: pointer;
}
label {
    font-weight: bold;
}

.dataTables_wrapper {
    padding-bottom: 0px;
    margin-top: -6px;
}

.ibox-title {
    padding: 15px;
}

/* FOR DATATABLE */
.btn-next-table {
    margin-left: 0.50em;
}
.dt-scroll {
    margin-top: 11px;
}

.dropzone {
    min-height: 140px;
    border: 1px dashed #1ab394;
    background: white;
    padding: 20px 20px;
}